NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAABr-XtFUzUGe3zbz
TURNSTILE_SECRET_KEY=0x4AAAAAABr-Xnmp20xlSQeiHcsAk0Ruh7k
UPSTASH_REDIS_REST_URL=https://charming-monster-14809.upstash.io
UPSTASH_REDIS_REST_TOKEN=ATnZAAIncDFjZDc5OGU0NmYzZDM0Yjg3OTRkYjdhMjE3ZTU1ZmZhN3AxMTQ4MDk
RESEND_API_KEY=
NEWSLETTER_FROM=Pozitivní zprávy <news@pozitiva.local>
NEWSLETTER_REPLY_TO=Jakub <jakub@example.com>
NEXT_PUBLIC_SITE_URL=http://localhost:3000
